.wrapper {
  min-height: 100vh;
  background-color: #2f393d;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
}
footer .popup {
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}